/**
 * @file 弹出下浮层，模拟下拉
 * @author fe.xiaowu
 */

.zui-popup-select {
    background-color: #fff;
}
.zui-popup-select-list {
    list-style: none;
}
.zui-popup-select-item {
    border-top: 1px solid #d9d9d9;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    position: relative;
    text-align: center;
}
.zui-popup-select-item:first-child {
    border-top: none;
}
.zui-popup-select-item:active {
    background-color: #ececec;
}
.zui-popup-select-cancel {
    border-top: 5px solid  #ececec;
}
.zui-popup-select-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
