.zui-dialog-wrap-mask{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
}
.zui-dialog-wrap{
    position: absolute;
    top: 50%;
    right: 50%;
    background: rgba(255,255,255, 1);
    transform: translate(50%, -50%);
    border-radius: 6px;
    width: 60%;
    z-index: 10;
}
.zui-dialog-header{
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.zui-dialog-header:after{
    border-bottom: 1px solid #D5D5D6;
}
.zui-dialog-btngroup{
    height: 35px;
    line-height: 35px;
    display: flex;
}
.zui-dialog-btngroup div{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    text-align: center;
    color: #353535;
}
.zui-dialog-btngroup div:not(:first-child){
    position: relative;
}
.zui-dialog-btngroup div:not(:first-child):after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D6;
    -webkit-transform: scaleY(0.5);
    transform: scaleX(0.5);
}
.zui-dialog-content{
    position: relative;
    padding: 10px 20px;
    color: #888;
    line-height: 1.4em;
}
.zui-dialog-content:after,.zui-dialog-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.zui-dialog-content:after{
    border-top: 1px solid #D5D5D6;
}
