/**
 * @file dialog
 * @author schoeu
 */

.zui-dialog-wrap{
    position: relative;
    z-index: 9999;
    font: 14px Arial,Helvetica,sans-serif;
}

.zui-dialog-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    /*opacity: 0;*/
    -webkit-transform: scale3d(1.3, 1.3, 1);
    transform: scale3d(1.3, 1.3, 1);
    -webkit-transition: opacity .3s, transform .2s;
    transition: opacity .3s, transform .2s;
}

.zui-dialog-buttons{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-box-align: stretch;
    -webkit-box-lines: single;
    display: -webkit-flex;
}
.zui-dialog-buttons>span{
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    border-left: 1px solid #b5b5b5;
}
.zui-dialog-buttons>span:first-child{
    border-left: none;
}

.zui-dialog-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #FFF;
    border-radius: 6px;
}

.zui-dialog-area>header{
    font-size: 18px;
    line-height: 26px;
}

.zui-dialog-area>p{
    line-height: 22px;
}

.zui-dialog-area{
    padding: 15px;
}

.zui-dialog-buttons{
    color: #09f;
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #b5b5b5;
}

.zui-dialog-show .zui-dialog-mask {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
